{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
      {% if user.is_authenticated %}
          <a href="#">Logout</a>
          <a href="{% url 'password_change' %}">Change password</a>
      {% else %}
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 dashboard-sidebar">
            <h5>Sidebar</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'jobtest:index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:userprofile' username=request.user.username %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:dashboard' %}">Dashboard</a>
                </li>
            </ul>
        </div>

        <!-- Main content -->
        <div class="col-md-9 dashboard-content">
            <div class="dashboard-header">
                <h2>Welcome to the Dashboard</h2>
            </div>
            <div class="dashboard-body">
                <p>This is your dashboard. You can add your content here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
