<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grow: Elevating Developers for Success in Interviews</title>
  </head>
  <body>
    <section id="body">
      <header>
        <div id="logo">Grow</div>
        <nav>
          <ul>
            <li>Our Platform</li>
            <li>About Us</li>
            <li>Product</li>
            <li>Language</li>
            <li>Sign in</li>
          </ul>
        </nav>

        <div id="banner">
          <h2>Ace Your Job Interviews with <a href="#">Grow</a></h2>
          <p>
            Welcome to Grow, your go-to platform for mastering job interviews.
            Elevate your skills, prepare with confidence, and land your dream
            job.
          </p>
        </div>
      </header>

      <main>
        <section id="ourPlatform">
          <div>
            <div>
              <h3>personlaized Interview Training</h3>
              <p>
                Tailoryour interview preparation with personalized training
                sessions, ensuring you focus on areas that matter most for your
                target Job.
              </p>
            </div>
            <div>
              <h3>Mock Interviews</h3>
              <p>
                sharpen your skills through realistic mock interviews,
                simulating real-world scenarios and providing valuable feedback
              </p>
            </div>
            <div>
              <h3>Collaborative Learning</h3>
              <p>
                Engage with our community job seekers, sharing tips,
                experiences, and supporting each other on the journey to
                success.
              </p>
            </div>
            <div>
              <h3>Resume and Portfolio Review</h3>
              <p>
                Get expert feedback on your resume and portfolio, ensuring you
                present your acchievements and skills in the best light.
              </p>
            </div>
            <div>
              <h3>Question Bandks</h3>
              <p>
                Access extensive question banks covering a wide range of
                industries and job roles, helping you anticipate and answer with
                confidence.
              </p>
            </div>
            <div>
              <h3>Progress Tracking</h3>
              <p>
                Monitor your progress with detailed analytics, ensuring you're
                consistently improving and ready for any interview challenge.
              </p>
            </div>
          </div>
        </section>

        <section id="signUp">
          <div>
            <p>
              Join Grow now to start your journey towards interview success.
              <span
                >Sign up for early acess and step confidently into your next job
                interview!</span
              >
            </p>
            <button type="button">SIGN UP</button>
          </div>
        </section>

        <section id="aboutUs">
          <div>
            <h2>About us</h2>
            <p>
              Learn more about our mission at Grow, dedicated to empowering
              individuals in their job interview proparation Journey
            </p>
          </div>
        </section>

        <section>
          <div>
            <h3>Language</h3>
            <p>
              We now support 10 popular coding languages. at our core, Grow is
              about developers. Our powerful development tools such as
              playground help you test, a=debug and even write your own projects
              online.
            </p>
          </div>
        </section>

        <section id="howItWorks">
          <div>
            <h3>How it works</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              nobis minima debitis adipisci at sit, facilis ipsam cupiditate,
              consequatur, excepturi aspernatur fugit non doloremque ipsa
              repudiandae odio temporibus voluptates quae aut officiis hic
              inventore. Nesciunt molestias doloribus numquam, quaerat id ab
              excepturi quibusdam sunt facilis repellat vero, doloremque harum
              neque ea? Expedita minima earum architecto, illum quo temporibus
              enim maiores aspernatur facere, tempore autem excepturi nemo
              veritatis distinctio dolore nostrum! Amet cumque ipsa quos. Nisi
              aut aspernatur aliquid inventore ex, dignissimos beatae delectus
              tempora, minima voluptates fuga. Veritatis corrupti at tempora a
              officiis veniam autem repellendus architecto ipsa ad
              exercitationem porro iusto sequi sit, nostrum illo dolorem alias
              rerum natus voluptates fuga perspiciatis fugiat et. Dolor aliquam
              rem earum unde!
            </p>
          </div>
        </section>
      </main>
      <footer>
        <div>
          <div>news letter</div>
          <div>
            <p>Copyright &copy; 2024 Grow</p>
            <p>Support Center | Team | Terms | Privacy</p>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
