/* homepage.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/homepagebkgrd.png'); /* Replace 'your-image.jpg' with the path to your downloaded image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* This will fix the background image */
    color: #ffffff; /* Set text color to white for better contrast */
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Add some transparency to the header */
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Add some transparency to the footer */
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
