{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
i    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grow</title>
    <link rel="icon" href="{% static 'img/3537449.png' %}" type="image/x-icon">
    <!-- Link to your CSS file if you have one -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <header>
      <h1>Welcome to Grow</h1>
        <!-- Navigation links if needed -->
        <nav>
            <ul>
                <li><a href="#">Test</a></li>
                <li><a href="#">Signup</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- Your main content goes here -->
        <p>Our tests makes you comfortable.</p>
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; 2024 Grow inc. All rights reserved.</p>
    </footer>

    <script>
      alert("Welcome to Grow!");
    </script>
</body>
</html>
